@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMTIxNTI0MS1UZWNobmljYWw6dEFBM25samxHeHZKb1BlR2pYRlJja2g5UHNSU2swZTg=
always-auth=true