* {
  font-family: 'Noto Sans';
  margin: 0;
}

.paragraph-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.paragraph-title {
  color: rgb(89, 89, 89);
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.paragraph-description {
  color: rgb(89, 89, 89);
  line-height: 24px;
  font-size: 16px;
}

.section-title {
  font-size: 36px;
  margin-bottom: 30px;
  margin-top: 40px;
  margin-right: 32px;
  font-weight: 700;
  line-height: 42px;
  color: rgb(89, 89, 89);
}

.info-message {
  margin-top: 16px;
}
