<section>
  <h2>Site Policies</h2>
  <p>
    <a href="#"> Click here</a> to see how Swagelok Company uses, stores, and
    share your personal information. Read our <a href="#">Privacy Policy</a> for
    further details.
  </p>
  <div class="consent-container">
    <mat-checkbox class="custom-checkbox"
      >I accept Swagelok's <a href="#">Privacy Policy</a> and consent to
      Swagelok's use, store, and transfer of my personal information. I
      understand I can <a href="#">opt-out</a> at any time.*</mat-checkbox
    >
    <mat-checkbox class="custom-checkbox"
      >I accept the Swagelok.com
      <a href="#">Site Use Terms and Conditions.</a>*</mat-checkbox
    >
    <mat-checkbox class="custom-checkbox"
      >I accept the Swagelok.com <a href="#">Cookie Policy.</a>*</mat-checkbox
    >
  </div>
  <button>Submit</button>
</section>
