/* You can add global styles to this file, and also import other style files */

@import 'styles-config';
@import '@spartacus/styles/index';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&family=Sora:wght@300;600;700&display=swap');

html,
body {
  height: 100%;
}

* {
  font-family: 'Noto Sans', sans-serif;
}
body {
  margin: 0;
}
